# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Notebook state
.ipynb_checkpoints/

# OS files
.DS_Store

# Large or generated artifacts
*.pkl
*.h5
*.keras
*.npy

seg_pred/
seg_test/
seg_train/

